@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  perspective: 100;
  user-select: none;
}

::-webkit-scrollbar {
  width: 5px;
}

::-webkit-scrollbar-thumb {
  background-color: darkgrey;
  border-radius: 10px;
}

input[type='number']::-webkit-inner-spin-button {
  display: none;
}
.slide-transition {
  transition: all 0.5s ease;
}

#domimage {
  background-size: cover !important;
}

::-webkit-scrollbar-thumb {
  background-color: white;
}
.sidepart:hover::-webkit-scrollbar-thumb {
  background-color: darkgray;
}

#sample{
  background-color: red;
  font-size: 100px;
  padding: 30px;
  color: white;
}

